@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    /* margin: 0 auto;
    padding: 0; */
    box-sizing: border-box;
}

footer {    
    max-width: 100%;
    height: 200px;   
    padding-top: 55px; 
    font-family: 'Inter', serif;
    
} 

.footer-wrapper {   
    margin-left: 70px;
    margin-right: 70px;
}

.footer-menu {    
    margin-left: 325px;
    margin-right: 325px;
    padding-left: 38px;
    padding-right: 38px;    
}

.menu-primary {    
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}


.nav li {
    margin-right: 32px; 
}

.nav li:last-child {
    margin-right: 38px; 
}

ul {
    display: flex;
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none;    
    font-size: 15px;
    color: #1F1F1F;
}

.nav,
.nav-secondary {
    list-style: none;
}
.nav-secondary {
    margin-top: 10px;
}

.nav-secondary li {
    margin-right: 32px; 
}

.nav-secondary li:last-child {
    margin-right: 38px; 
}

.footer-copyright {
    display: flex;
    margin-top: 16px; 
    margin-left: 435px;
    margin-right: 435px;        
}
.built {
    display: flex;
    margin-left: 32px;
}

.powerd {
    display: flex;
    margin-left: 32px;
}

p {
    font-size: 13px;
    color: #696969;    
}

.name {
    color: #6D6B67;
    margin-left: 3px;

}